.paginate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 22px;
}

.link, .link_active {
  width: 18px;
  height: 20px;
  padding: 0 2px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: .2s ease;
  color: #000;
}

.link:hover {
  background: #E1E1E1;
}

.link_active {
  background: #0087E9;
  color: #FFFFFF;
}